<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mycab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.zeeh.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Driver.Activity.Fragment.FCM.App"
        android:theme="@style/Theme.MyCab">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mycab.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Driver.Activity.Fragment.Activity.SettingActivity" />

        <activity
            android:name=".Driver.Activity.Fragment.Activity.PaymentMethodActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.EarningActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.TripHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.NavigationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".Driver.Activity.Fragment.Activity.AddBankDetailActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >




        </activity>


        <activity
            android:name=".Driver.Activity.Fragment.Activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".Driver.Activity.Fragment.Activity.UploadDocumnetActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.ChooseTypeActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.OTPVerifyActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Driver.Activity.Fragment.Activity.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--
    <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVXWPGpxUIMfAn4T-rzWkWNaDzeEWKmTo" />
        -->
        <!-- Jitu sir provide me -->
      <!--  <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJuMnRukkohrMxeK_zcN8pbdzUuCHa-PE" />
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFFLqZEid0_-oX0UVIggT_CVbmZaz7Hpg" />


  <service
            android:name=".Driver.Activity.Fragment.FCM.FirebaseMessageRecieverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.GPSTracker"
            tools:ignore="Instantiatable" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>